In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#from pandas_profiling import PandasProfile

In [5]:
train_data = pd.read_csv("C:\\Users\\LENOVO\\Desktop\\BOOKS\kaggle\\train.csv")
train_data.head(10)

,customer_id,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,subscribed
0,customer_id_39075,31,admin.,married,university.degree,no,no,no,cellular,dec,...,3,999,1,failure,-2.97,46.3565,-23.10,1.711,5023.5,0
1,customer_id_34855,31,technician,single,university.degree,no,no,no,telephone,may,...,4,999,0,nonexistent,-1.77,46.4465,-32.34,2.252,5099.1,0
2,customer_id_7107,47,blue-collar,married,basic.6y,unknown,yes,no,telephone,may,...,2,999,0,nonexistent,1.13,46.9970,-25.48,5.862,5191.0,0
3,customer_id_31614,36,services,married,university.degree,no,no,no,cellular,may,...,1,999,1,failure,-1.77,46.4465,-32.34,2.329,5099.1,0
4,customer_id_34878,34,admin.,single,high.school,no,no,no,cellular,may,...,9,999,0,nonexistent,-1.77,46.4465,-32.34,2.252,5099.1,0
5,customer_id_24606,48,entrepreneur,married,university.degree,no,yes,yes,cellular,nov,...,2,999,1,failure,-0.07,46.6000,-29.40,5.193,5195.8,0
6,customer_id_13094,34,blue-collar,single,basic.4y,unknown,no,no,cellular,jul,...,2,999,0,nonexistent,1.43,46.9590,-29.89,5.964,5228.1,0
7,customer_id_36912,34,technician,single,professional.course,no,no,no,cellular,jun,...,1,999,0,nonexistent,-2.87,46.4815,-28.56,2.217,5076.2,0
8,customer_id_27834,39,unemployed,single,university.degree,no,yes,no,cellular,mar,...,1,999,0,nonexistent,-1.77,46.4215,-35.00,2.642,5099.1,0
9,customer_id_9302,40,technician,single,professional.course,no,unknown,unknown,telephone,jun,...,3,999,0,nonexistent,1.43,47.2325,-29.26,5.969,5228.1,0

In [6]:
train_data.shape

(28831, 22)

In [7]:
train_data.isna().sum()

customer_id       0
age               0
job               0
marital           0
education         0
default           0
housing           0
loan              0
contact           0
month             0
day_of_week       0
duration          0
campaign          0
pdays             0
previous          0
poutcome          0
emp_var_rate      0
cons_price_idx    0
cons_conf_idx     0
euribor3m         0
nr_employed       0
subscribed        0
dtype: int64

In [8]:
dict = {}
for i in list(train_data.columns):
    dict[i] = train_data[i].value_counts().shape[0]

pd.DataFrame(dict, index=["unique count"]).transpose()

                unique count
customer_id            28831
age                       77
job                       12
marital                    4
education                  8
default                    3
housing                    3
loan                       3
contact                    2
month                     10
day_of_week                5
duration                1432
campaign                  40
pdays                     26
previous                   8
poutcome                   3
emp_var_rate              10
cons_price_idx            26
cons_conf_idx             26
euribor3m                312
nr_employed               11
subscribed                 2

In [9]:
train_data.head(2)

,customer_id,age,job,marital,education,default,housing,loan,contact,month,...,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,subscribed
0,customer_id_39075,31,admin.,married,university.degree,no,no,no,cellular,dec,...,3,999,1,failure,-2.97,46.3565,-23.10,1.711,5023.5,0
1,customer_id_34855,31,technician,single,university.degree,no,no,no,telephone,may,...,4,999,0,nonexistent,-1.77,46.4465,-32.34,2.252,5099.1,0

In [10]:
train_data.corr()

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,subscribed
age,1.000000,-0.003741,0.008758,-0.036666,0.027094,-0.000595,0.003682,0.126321,0.010074,-0.018042,0.022599
duration,-0.003741,1.000000,-0.072445,-0.052064,0.020699,-0.029512,0.006035,-0.008210,-0.035028,-0.047273,0.399154
campaign,0.008758,-0.072445,1.000000,0.050604,-0.077222,0.154406,0.128875,-0.013231,0.138310,0.147386,-0.070794
pdays,-0.036666,-0.052064,0.050604,1.000000,-0.581918,0.267267,0.069794,-0.089671,0.294894,0.373829,-0.326485
previous,0.027094,0.020699,-0.077222,-0.581918,1.000000,-0.418479,-0.199327,-0.054665,-0.452338,-0.498962,0.226691
emp_var_rate,-0.000595,-0.029512,0.154406,0.267267,-0.418479,1.000000,0.772732,0.191490,0.972088,0.906417,-0.300379
cons_price_idx,0.003682,0.006035,0.128875,0.069794,-0.199327,0.772732,1.000000,0.052215,0.684425,0.517057,-0.135474
cons_conf_idx,0.126321,-0.008210,-0.013231,-0.089671,-0.054665,0.191490,0.052215,1.000000,0.273833,0.098496,0.051999
euribor3m,0.010074,-0.035028,0.138310,0.294894,-0.452338,0.972088,0.684425,0.273833,1.000000,0.945113,-0.309149
nr_employed,-0.018042,-0.047273,0.147386,0.373829,-0.498962,0.906417,0.517057,0.098496,0.945113,1.000000,-0.355616
subscribed,0.022599,0.399154,-0.070794,-0.326485,0.226691,-0.300379,-0.135474,0.051999,-0.309149,-0.355616,1.000000

In [11]:
x=train_data.drop("subscribed", axis="columns")
y=train_data["subscribed"]
x.head(5)

,customer_id,age,job,marital,education,default,housing,loan,contact,month,...,duration,campaign,pdays,previous,poutcome,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed
0,customer_id_39075,31,admin.,married,university.degree,no,no,no,cellular,dec,...,1.283333,3,999,1,failure,-2.97,46.3565,-23.10,1.711,5023.5
1,customer_id_34855,31,technician,single,university.degree,no,no,no,telephone,may,...,0.200000,4,999,0,nonexistent,-1.77,46.4465,-32.34,2.252,5099.1
2,customer_id_7107,47,blue-collar,married,basic.6y,unknown,yes,no,telephone,may,...,4.616667,2,999,0,nonexistent,1.13,46.9970,-25.48,5.862,5191.0
3,customer_id_31614,36,services,married,university.degree,no,no,no,cellular,may,...,1.166667,1,999,1,failure,-1.77,46.4465,-32.34,2.329,5099.1
4,customer_id_34878,34,admin.,single,high.school,no,no,no,cellular,may,...,19.683333,9,999,0,nonexistent,-1.77,46.4465,-32.34,2.252,5099.1

In [12]:
y.head(5)

0    0
1    0
2    0
3    0
4    0
Name: subscribed, dtype: int64

In [13]:
pd.get_dummies(x)

,age,duration,campaign,pdays,previous,emp_var_rate,cons_price_idx,cons_conf_idx,euribor3m,nr_employed,...,month_oct,month_sep,day_of_week_fri,day_of_week_mon,day_of_week_thu,day_of_week_tue,day_of_week_wed,poutcome_failure,poutcome_nonexistent,poutcome_success
0,31,1.283333,3,999,1,-2.97,46.3565,-23.10,1.711,5023.5,...,0,0,0,1,0,0,0,1,0,0
1,31,0.200000,4,999,0,-1.77,46.4465,-32.34,2.252,5099.1,...,0,0,1,0,0,0,0,0,1,0
2,47,4.616667,2,999,0,1.13,46.9970,-25.48,5.862,5191.0,...,0,0,0,0,1,0,0,0,1,0
3,36,1.166667,1,999,1,-1.77,46.4465,-32.34,2.329,5099.1,...,0,0,0,0,1,0,0,1,0,0
4,34,19.683333,9,999,0,-1.77,46.4465,-32.34,2.252,5099.1,...,0,0,1,0,0,0,0,0,1,0
5,48,1.300000,2,999,1,-0.07,46.6000,-29.40,5.193,5195.8,...,0,0,0,1,0,0,0,1,0,0
6,34,2.366667,2,999,0,1.43,46.9590,-29.89,5.964,5228.1,...,0,0,0,0,0,1,0,0,1,0
7,34,8.733333,1,999,0,-2.87,46.4815,-28.56,2.217,5076.2,...,0,0,0,1,0,0,0,0,1,0
8,39,7.200000,1,999,0,-1.77,46.4215,-35.00,2.642,5099.1,...,0,0,1,0,0,0,0,0,1,0
9,40,0.983333,3,999,0,1.43,47.2325,-29.26,5.969,5228.1,...,0,0,1,0,0,0,0,0,1,0
10,43,6.100000,1,999,0,-1.77,46.4465,-32.34,2.336,5099.1,...,0,0,0,0,0,0,1,0,1,0
11,55,2.533333,2,999,0,1.43,46.7220,-25.27,5.967,5228.1,...,0,0,0,1,0,0,0,0,1,0
12,29,1.833333,1,999,0,-1.77,46.4465,-32.34,2.329,5099.1,...,0,0,0,0,1,0,0,0,1,0
13,40,1.700000,1,999,0,1.43,47.2325,-29.26,5.969,5228.1,...,0,0,1,0,0,0,0,0,1,0
14,29,2.466667,1,999,0,1.43,46.9590,-29.89,5.964,5228.1,...,0,0,0,0,1,0,0,0,1,0
15,40,3.033333,2,999,0,-0.07,46.6000,-29.40,5.078,5195.8,...,0,0,0,0,1,0,0,0,1,0
16,38,0.650000,5,999,0,-1.77,46.4465,-32.34,2.346,5099.1,...,0,0,0,0,0,1,0,0,1,0
17,36,7.200000,1,999,0,1.43,46.9590,-29.89,5.964,5228.1,...,0,0,0,0,0,0,1,0,1,0
18,30,1.116667,5,999,0,1.43,46.9590,-29.89,5.963,5228.1,...,0,0,0,0,0,1,0,0,1,0
19,48,4.300000,5,999,0,1.13,46.9970,-25.48,5.859,5191.0,...,0,0,1,0,0,0,0,0,1,0
20,47,9.083333,2,999,0,1.13,46.9970,-25.48,5.857,5191.0,...,0,0,1,0,0,0,0,0,1,0
21,53,3.666667,1,999,0,-0.07,46.6000,-29.40,5.023,5195.8,...,0,0,1,0,0,0,0,0,1,0
22,37,1.950000,2,999,0,1.43,46.7220,-25.27,5.968,5228.1,...,0,0,0,0,0,1,0,0,1,0
23,65,3.916667,1,6,1,-1.07,47.3005,-34.65,2.027,4963.6,...,1,0,0,0,1,0,0,0,0,1
24,38,14.216667,1,999,0,1.43,46.9590,-29.89,5.962,5228.1,...,0,0,0,1,0,0,0,0,1,0
25,51,6.300000,1,999,0,-1.77,46.5375,-32.97,2.407,5099.1,...,0,0,1,0,0,0,0,0,1,0
26,42,2.583333,3,999,1,-1.77,46.5375,-32.97,2.407,5099.1,...,0,0,1,0,0,0,0,1,0,0
27,36,6.766667,1,999,1,-1.77,46.5375,-32.97,2.407,5099.1,...,0,0,1,0,0,0,0,1,0,0
28,36,1.333333,1,999,0,1.43,46.7220,-25.27,5.968,5228.1,...,0,0,1,0,0,0,0,0,1,0
29,42,0.733333,6,999,0,1.43,47.2325,-29.26,5.963,5228.1,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28801,38,0.550000,4,999,0,1.13,46.9970,-25.48,5.857,5191.0,...,0,0,0,0,1,0,0,0,1,0
28802,35,2.983333,2,999,0,1.13,46.9970,-25.48,5.857,5191.0,...,0,0,1,0,0,0,0,0,1,0
28803,43,0.600000,6,999,0,-1.77,46.4465,-32.34,2.246,5099.1,...,0,0,0,1,0,0,0,0,1,0
28804,40,5.650000,2,999,0,1.43,46.7220,-25.27,5.970,5228.1,...,0,0,0,0,0,1,0,0,1,0
28805,36,2.300000,1,999,0,1.13,46.9970,-25.48,5.859,5191.0,...,0,0,0,1,0,0,0,0,1,0
28806,44,4.416667,1,999,0,1.13,46.9970,-25.48,5.861,5191.0,...,0,0,0,0,0,0,1,0,1,0
28807,44,1.083333,2,999,0,1.43,46.9590,-29.89,5.970,5228.1,...,0,0,0,0,1,0,0,0,1,0
28808,37,2.516667,2,999,0,1.43,46.7220,-25.27,5.972,5228.1,...,0,0,0,1,0,0,0,0,1,0
28809,51,0.866667,1,999,1,-0.07,46.6000,-29.40,5.122,5195.8,...,0,0,0,0,0,0,1,1,0,0
28810,47,0.866667,2,999,0,-0.07,46.6000,-29.40,5.023,5195.8,...,0,0,1,0,0,0,0,0,1,0
28811,31,0.833333,3,999,0,1.13,46.9970,-25.48,5.859,5191.0,...,0,0,0,0,0,1,0,0,1,0
28812,42,2.083333,2,999,0,-1.77,46.5375,-32.97,2.412,5099.1,...,0,0,0,0,1,0,0,0,1,0
28813,35,7.366667,1,999,0,1.43,46.7220,-25.27,5.968,5228.1,...,0,0,1,0,0,0,0,0,1,0
28814,44,2.566667,5,999,0,1.43,46.9590,-29.89,5.964,5228.1,...,0,0,0,1,0,0,0,0,1,0
28815,33,2.866667,2,999,0,-1.77,46.6845,-24.36,1.655,5008.7,...,0,0,1,0,0,0,0,0,1,0
28816,82,1.266667,1,3,2,-2.87,46.1005,-21.98,1.836,5076.2,...,0,0,0,0,0,0,1,0,0,1
28817,33,1.850000,1,999,0,1.13,46.9970,-25.48,5.859,5191.0,...,0,0,1,0,0,0,0,0,1,0
28818,52,8.683333,1,999,0,1.13,46.9970,-25.48,5.858,5191.0,...,0,0,0,0,0,1,0,0,1,0
28819,32,3.600000,3,999,0,1.13,46.9970,-25.48,5.858,5191.0,...,0,0,0,0,0,0,1,0,1,0
28820,60,1.766667,1,999,0,1.13,46.9970,-25.48,5.857,5191.0,...,0,0,1,0,0,0,0,0,1,0
28821,33,3.533333,2,3,6,-1.07,47.3835,-35.56,2.050,4963.6,...,0,0,0,0,0,0,1,0,0,1
28822,35,6.266667,1,999,0,1.43,46.9590,-29.89,5.963,5228.1,...,0,0,0,0,0,1,0,0,1,0
28823,45,6.633333,2,999,0,1.43,46.7220,-25.27,5.966,5228.1,...,0,0,0,0,0,0,1,0,1,0
28824,60,2.366667,1,999,0,-2.87,46.1005,-21.98,1.885,5076.2,...,0,0,0,0,1,0,0,0,1,0
28825,38,2.850000,1,999,0,1.43,46.9590,-29.89,5.964,5228.1,...,0,0,0,0,1,0,0,0,1,0
28826,60,7.116667,2,999,0,1.13,46.9970,-25.48,5.859,5191.0,...,0,0,0,0,0,1,0,0,1,0
28827,39,4.800000,1,999,0,1.43,47.2325,-29.26,5.963,5228.1,...,0,0,0,0,1,0,0,0,1,0
28828,37,3.233333,1,4,1,-3.37,46.2155,-18.83,1.756,5017.5,...,1,0,0,0,1,0,0,0,0,1
28829,42,4.916667,2,999,0,1.13,46.9970,-25.48,5.858,5191.0,...,0,0,0,0,0,0,1,0,1,0
28830,31,5.550000,2,999,0,1.43,46.9590,-29.89,5.962,5228.1,...,0,0,0,1,0,0,0,0,1,0

In [14]:
x = pd.get_dummies(x)

In [15]:
from sklearn.model_selection import train_test_split
from sklearn import metrics

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state = 173)

In [ ]:
# Logistic regression model
from sklearn.linear_model import LogisticRegression
logisticmodel = LogisticRegression()
logisticmodel.fit(x_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [ ]:
logisticmodel.predict(x_test)

In [ ]:
logistic_prediction = logisticmodel.predict(x_test)

In [ ]:
metrics.accuracy_score(y_test, logistic_prediction)

In [ ]:
test_data = pd.read_csv("C:\\Users\\LENOVO\\Desktop\\BOOKS\kaggle\\test.csv")
test_data.head(5)

In [ ]:
test_data.drop(["customer_id"], axis = "columns", inplace =True)

In [ ]:
test_data.head(2)

In [ ]:
x= test_data
pd.get_dummies(x)
x=pd.get_dummies(x)

In [ ]:
logisticmodel.predict(x)
my_prediction_1 = logisticmodel.predict(x)
my_prediction_1

In [ ]:
df1 =pd.DataFrame(my_prediction_1)
df1.to_csv(r"C:\Users\LENOVO\Desktop\BOOKS\kaggle\sample_submission.csv")

In [ ]:
#NAIVE BAYES MODEL

from sklearn.naive_bayes import GaussianNB

naivemodel = GaussianNB()
naivemodel.fit(x_train, y_train)

In [ ]:
naivemodel.predict(x)
my_prediction_2 = naivemodel.predict(x)
my_prediction_2

In [ ]:
X=train_data.drop("subscribed", axis="columns")
y=train_data["subscribed"]
X.head(2)

In [ ]:
#RANDOM FOREST MODEL


from sklearn.ensemble import RandomForestClassifier

randomforestmodel = RandomForestClassifier()
randomforestmodel.fit(x_train, y_train)

In [ ]:
df2 =pd.DataFrame(my_prediction_2)
df2.to_csv(r"C:\Users\LENOVO\Desktop\BOOKS\kaggle\randomforest.csv")

In [ ]:
randomforestmodel_prediction = randomforestmodel.predict(x_test)

In [ ]:
#you can call the randomforestmodel_prediction method to see the prediction

randomforestmodel_prediction

In [ ]:
df2 =pd.DataFrame(randomforestmodel_prediction)
df2.to_csv(r"C:\Users\LENOVO\Desktop\BOOKS\kaggle\randomforest1.csv")

In [ ]:
metrics.accuracy_score(y_test, randomforestmodel_prediction)